/* ------------------------------------------------------------------ */
/* Button.Group                                                       */
/* ------------------------------------------------------------------ */

.group {
  display: inline-flex;

  &:where([data-orientation='vertical']) {
    flex-direction: column;
  }

  /* --- Horizontal: shared borders between siblings --- */
  &:where(:not([data-orientation='vertical'])) {

    /* Remove border-radius on inner edges */
    &>*:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &>*:first-child:not(:last-child) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &>*:last-child:not(:first-child) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    /* solid / soft: add separator line between buttons */
    &:where([data-variant='solid'], [data-variant='soft']) {
      &>*:not(:last-child) {
        position: relative;
      }

      &>*:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 20%;
        width: 1px;
        background: rgba(0, 0, 0, 0.12);
      }
    }

    /* outlined: overlap borders to avoid double-width */
    &:where([data-variant='outlined']) {
      &>*:not(:first-child) {
        margin-inline-start: -1px;
      }
    }

    /* plain: add a subtle separator between buttons */
    &:where([data-variant='plain']) {
      &>*:not(:last-child) {
        border-inline-end: 1px solid var(--prismui-divider, rgba(145, 158, 171, 0.2));
      }
    }
  }

  /* --- Vertical: shared borders between siblings --- */
  &:where([data-orientation='vertical']) {
    &>*:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &>*:first-child:not(:last-child) {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    &>*:last-child:not(:first-child) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }

    /* solid / soft: add separator line between buttons */
    &:where([data-variant='solid'], [data-variant='soft']) {
      &>*:not(:last-child) {
        position: relative;
      }

      &>*:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 20%;
        right: 20%;
        bottom: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.12);
      }
    }

    /* outlined: overlap borders to avoid double-width */
    &:where([data-variant='outlined']) {
      &>*:not(:first-child) {
        margin-block-start: -1px;
      }
    }

    /* plain: add a subtle separator between buttons */
    &:where([data-variant='plain']) {
      &>*:not(:last-child) {
        border-block-end: 1px solid var(--prismui-divider, rgba(145, 158, 171, 0.2));
      }
    }
  }
}